/*   color variables */
$clr-primary: #289381;
$clr-primary-light: #289381;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #ffffff;

/*   border radius */
$radius: 0.5rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.formPageContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.formContainer {
  display: flex;
}
.formFirst {
  margin-right: 30px;
}

.confirmCartItemsContainer {
  width: 45%;
  padding-top: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirmPageEmptyContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.confirmEmptyCartText {
  font-size: 2rem;
}

.confirmEmptyCartText:hover {
  font-size: 2rem;
  color: #289381;
}

.confirmPageInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #091034;
  height: 74vh;
  background-color: white;
  padding-top: 20px;
  width: 1000px;
}

.form {
  position: relative;
  width: 20rem;
  height: 3rem;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $clr-gray300;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 1.25rem;
    background: none;

    &:hover {
      border-color: $clr-primary-light;
    }

    /* Change border when input focus*/

    &:focus {
      border-color: $clr-primary;
    }
  }

  &__label {
    position: absolute;
    left: 1rem;
    top: 0.8rem;
    padding: 0 0.5rem;
    color: #000000;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: $clr-bg;
  }
}

/* 
1. When the input is in the focus state
reduce the size of the label and move upwards 
2. Keep label state when content is in input field 
*/

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  color: #000000;
}

.confirmButtonContainer {
  color: rgb(0, 0, 0);
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  justify-content: center;
}
.confirmContainer > p {
  font-size: 1.5rem;
}

.confirmContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  height: 50px;
  padding-right: 40px;
  margin-bottom: 10px;
}

.confirmButton {
  width: 60%;
  height: 45px;
  background-color: transparent;
  border: $clr-primary solid 2px;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  outline: none;
  position: relative;

  background: linear-gradient(to left, #ffffff 50%, #289381 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}
.confirmButton:hover {
  background-position: left;
  cursor: pointer;
}

.nameTakenMessage {
  width: 100%;
  margin-bottom: 15px;
}
.nameTakenMessage > p {
  color: rgb(255, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinToOtherRoomsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinToOtherRoomsContainer > p {
  cursor: pointer;
  color: white;
}
.joinToOtherRoomsContainer > p:hover {
  cursor: pointer;
  color: rgb(0, 247, 255);
}

.messageError {
  color: #ff3939;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  padding-right: 30px;
}

@media (max-width: 1100px) {
  .formPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .confirmPageInputContainer {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .confirmCartItemsContainer {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media (max-width: 630px) {
  .formContainer {
    display: flex;
    flex-direction: column;
  }
}
