.productContainer {
  display: flex;
  padding: 30px 30px 30px 30px;
}
.infoContainer {
  width: 35%;
}

.productImageContainer {
  width: 50%;
  height: 60vh;
  padding: 30px 30px 30px 30px;
}

.productImage {
  height: 50vh;
  width: 100%;
}

.itemTitle {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 5px;
  font-family: Helvetica Now Display, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.category {
  padding-bottom: 5px;
  margin-bottom: 40px;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 5px;
  color: rgb(158, 158, 158);
  font-family: Helvetica Now Display, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

  margin-bottom: 30px;
}

.itemPrice {
  font-size: 2rem;
  margin-bottom: 20px;
}
.gif-container {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoDetail {
  font-size: 2rem;
  width: 100%;
  height: fit-content;
  line-height: 1em;
  margin-bottom: 80px;
  font-family: Helvetica Now Display, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.quantityContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.quantityText {
  font-size: 2rem;
  font-family: Helvetica Now Display, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.addButton {
  width: 100%;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
  background-color: white;
  color: black;
  border: solid 1px #289381;

  background: linear-gradient(to left, transparent 50%, #289381 50%) right;
  background-size: 200%;
  transition: 0.2s ease-out;
}

.addButton:hover {
  color: white;
  background-position: left;
}

/* COMMENT SECTION */
.commentSectionContainer {
  width: 100%;
  height: fit-content;
  padding: 20px;
}
.commentSectionTitle {
  display: flex;
  font-size: 1.7rem;
  margin-bottom: 20px;
}
.commentFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentInput {
  border: none;
  width: 65%;
  margin-right: 5%;
  margin-left: 5%;
  height: 7vh;
  border: solid 2px blue;
}

.commentInput:focus {
  outline: none;
  box-shadow: none;
}

.commentAddButton {
  width: 20%;
  margin-right: 5%;
  height: 7vh;
}

.allCommentsContainer {
  display: flex;
  flex-direction: column;
}

.commentContainer {
  width: 50%;
  display: flex;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 20px;

  border-radius: 10px;
}
.commentUserImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.commentDetails {
  padding: 10px;
  height: 13vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.commentUserName {
  color: #289381;
  height: 3.33vh;
  cursor: pointer;
}
.commentDescription {
  height: 3.33vh;
  margin-left: 20px;
  width: 100%;
}
.commentStars {
  height: 3.33vh;
  margin-left: 20px;
}
.startButton {
  color: rgb(155, 155, 155);
  cursor: pointer;
}
.startButtonActive {
  color: rgb(246, 250, 22);
  cursor: pointer;
}
@media (max-width: 800px) and (max-width: 1200px) {
  .productContainer {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 30px;
    width: 100%;
  }
  .productImageContainer {
    width: 100%;
    height: 60vh;
    padding: 30px 30px 30px 30px;
  }
  .infoContainer {
    width: 90%;

    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 900px) and (max-width: 1200px) {
  .commentContainer {
    width: 100%;
    display: flex;
    border: 2px solid black;
    margin-bottom: 10px;
    margin-top: 20px;

    border-radius: 10px;
  }
}
